# Data folders
data/
datasets/

# Large data files
*.npy
*.npz
*.pkl
*.joblib
*.pt
*.pth
*.h5

# Outputs
outputs/
plots/
figures/
results/
logs/

# Optuna
*.sqlite
*.db

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# System
.DS_Store

# HPC temp
tmp/
temp/
scratch/
